.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  background-color: var(--color-surface-container--lowest);
  box-shadow: 0px 3px 6px var(--color-surface-dim);
  z-index: 1;
  position: relative;
  z-index: 1000;
}

.main-panel {
  background-color: var(--color-surface-container-low);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

.content {
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: end;
  margin: 15px 15px 0;
}

app-footer {
  margin-top: auto;
}
