.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.sidebar {
  width: 260px;
  background-color: #f0f0f0;
}

.main-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

app-footer {
  margin-top: auto;
}
