.search-container {
  display: flex;
}

th {
  background-color: var(--color-secondary) !important;
  color: var(--color-surface-container--lowest);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: left;
}

td {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.material-icons {
  font-size: 18px !important;
  color: var(--color-primary);
}

.table-hover {
  width: 100%;
}

.columnas.acciones {
  text-align: center;
}

.acciones-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

td,
th {
  white-space: nowrap;
}
