.search-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

th {
  background-color: var(--color-secondary) !important;
  color: var(--color-surface-container--lowest);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

td {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.material-icons {
  font-size: 25px;
  color: var(--color-primary);
  transition: transform 0.3s ease, color 0.3s ease;
}

.material-icons:hover {
  transform: scale(1.2);
  color: var(--color-secondary);
}

.table-hover {
  width: 100%;
}

.columnas.acciones {
  text-align: center;
}

.acciones-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

button {
  border: none;
  background-color: transparent;
}

button:hover {
  transform: scale(1.1);
}

td,
th {
  white-space: nowrap;
}

.table-container {
  box-shadow: 0 3px 15px var(--color-outline-variant);
  border-radius: 10px;
  overflow: visible;
}

mat-paginator {
  background-color: var(--color-surface-container-high);
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

mat-paginator .mat-paginator-range-actions {
  margin-left: 8px;
  color: var(--color-on-surface);
}

.table-scroll {
  overflow-x: auto;
}

.search-container input {
  padding: 8px;
  font-size: 14px;
  transition: all 0.3s ease;
}

tr:hover {
  background-color: var(--color-surface-container-high);
  cursor: pointer;
}

@media (max-width: 1124px) {
  .table-container {
    overflow-x: auto;
  }

  table {
    min-width: 600px;
  }

  th,
  td {
    font-size: 12px;
  }

  .material-icons {
    font-size: 16px;
  }

  .search-container {
    flex-direction: column;
  }

  h2 {
    padding-top: 15px;
    align-self: center;
  }

  .search-container input {
    font-size: 14px;
  }

  .table-scroll table {
    min-width: 600px;
  }

  mat-paginator {
    justify-content: center;
    margin-top: 12px;
  }
}
