<div class="container-matches">
  <h1>
    <p>Usuario / {{ nombrePestana }}</p>
  </h1>
  <div class="card-update">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="actualizarActivo"
              (click)="activarPestana('actualizar')"
            >
              <a>Actualizar datos</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Pestaña Actualizar -->
      <div *ngIf="actualizarActivo" class="container-actualizar">
        <form [formGroup]="formularioActualizar" class="form-content">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Primer nombre</mat-label>
                <input
                  matInput
                  formControlName="primer_nombre"
                  maxlength="20"
                  #primer_nombre
                />
                <mat-hint align="end"
                  >{{ primer_nombre.value.length }} / 20</mat-hint
                >
              </mat-form-field>
              <small class="text-error" *ngIf="validarPrimerNombre()">
                {{ primerNombreError }}
              </small>
            </div>

            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Segundo nombre</mat-label>
                <input
                  matInput
                  formControlName="segundo_nombre"
                  #segundo_nombre
                  maxlength="20"
                />
                <mat-hint align="end"
                  >{{ segundo_nombre.value.length }} / 20</mat-hint
                >
              </mat-form-field>
              <small class="text-error" *ngIf="validarSegundoNombre()">
                {{ segundoNombreError }}
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Primer apellido</mat-label>
                <input
                  matInput
                  formControlName="primer_apellido"
                  #primer_apellido
                  maxlength="20"
                />
                <mat-hint align="end"
                  >{{ primer_apellido.value.length }} / 20</mat-hint
                >
              </mat-form-field>
              <small class="text-error" *ngIf="validarPrimerApellido()">
                {{ primerApellidoError }}
              </small>
            </div>

            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Segundo apellido</mat-label>
                <input
                  matInput
                  formControlName="segundo_apellido"
                  #segundo_apellido
                  maxlength="20"
                />
                <mat-hint align="end"
                  >{{ segundo_apellido.value.length }} / 20</mat-hint
                >
              </mat-form-field>
              <small class="text-error" *ngIf="validarSegundoApellido()">
                {{ segundoApellidoError }}
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Correo electrónico</mat-label>
                <input
                  matInput
                  formControlName="correo"
                  maxlength="30"
                  #correo
                />
                <mat-hint align="end">{{ correo.value.length }} / 30</mat-hint>
              </mat-form-field>
              <small class="text-error" *ngIf="validarCorreo()">
                {{ correoError }}
              </small>
            </div>
            <div class="col-md-6">
              <div class="container-celular">
                <!-- <ng-select
                    formControlName="indicador"
                    [items]="countryDTO"
                    bindLabel="cell_prefix"
                    bindValue="id"
                    [(ngModel)]="selected"
                    class="custom-input-indicativo"
                  >
                    <ng-template ng-option-tmp let-item="item">
                      <img
                        [src]="
                          'https://flagcdn.com/24x18/' +
                          item.iso_code.toLowerCase() +
                          '.png'
                        "
                        width="20"
                        height="15"
                        style="margin-right: 8px"
                        alt="{{ item.iso_code }}"
                      />
                      {{ item.cell_prefix }} ({{ item.name }})
                    </ng-template>

                    <ng-template ng-label-tmp let-item="item">
                      <img
                        [src]="
                          'https://flagcdn.com/24x18/' +
                          item?.iso_code?.toLowerCase() +
                          '.png'
                        "
                        width="20"
                        height="15"
                        style="margin-right: 5px"
                        alt="{{ item?.iso_code }}"
                      />
                      {{ item?.cell_prefix }}
                    </ng-template>
                  </ng-select> -->

                <mat-form-field class="custom-input-celular">
                  <mat-label>Celular</mat-label>
                  <input
                    matInput
                    formControlName="celular"
                    type="number"
                    autocomplete="off"
                    #celular
                    maxlength="15"
                  />
                  <mat-hint align="end"
                    >{{ celular.value.length }} / 15</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="input-field">
                <mat-label>Fecha de nacimiento</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fecha_nacimiento"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <small class="text-error" *ngIf="validarFechaNacimiento()">
                {{ fechaNacimientoError }}
              </small>
            </div>
          </div>

          <div class="boton">
            <button
              mat-raised-button
              class="btn"
              type="button"
              (click)="actualizarDatos()"
            >
              Guardar
            </button>
          </div>
        </form>
      </div>

      <!-- Pestaña Cambiar Contraseña -->
      <div *ngIf="cambiarActivo" class="container-pestana">
        <app-change-password></app-change-password>
      </div>
    </app-card>
  </div>
</div>
