/* Contenedor principal */
.container-matches {
  padding: 15px;
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
}

/* Título */
h1 {
  font: bold 20px "Montserrat";
  color: var(--color-secondary);
}

/* Tarjetas */
.card {
  width: 100%;
  padding-bottom: 30px;
  background: var(--color-surface-container--lowest);
  box-shadow: 0 3px 15px var(--color-outline-variant);
  border-radius: 10px;
}

.container-card {
  padding: 10px;
}

/* Módulos y listas */
.container-modulos,
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin: 0;
}

li {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid var(--color-primary);
  padding: 10px 30px;
  font: 18px Roboto, sans-serif;
  color: var(--color-outline-variant);
}

li:hover,
.active-tab {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

/* Transiciones */
.container-pestana,
.container-actualizar {
  text-align: center;
  color: var(--color-secondary);
  transition: opacity 0.3s ease-in-out;
}

.container-pestana.ng-leave-active,
.container-actualizar.ng-leave-active {
  opacity: 0;
}

/* Texto */
p {
  font-size: 20px;
}

span {
  font-weight: bold;
  font-size: 24px;
}

/* Formulario */
.form-content {
  padding: 0 76px;
}

.form-group {
  display: flex;
  gap: 20px;
}

mat-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Botón */
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 2rem;
}

.boton .btn {
  background-color: var(--color-primary-container);
  font-size: 16px;
  color: var(--color-on-primary-container);
  height: 45px;
  width: 50%;
  border-radius: 10px;
}

/* Error */
.text-error {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 5px;
}

/* Formulario en columna */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Tabla */
.contaner-tabla {
  padding: 20px;
}

/* Celular */
.container-celular {
  width: 100%;
  display: flex;
}

.custom-input-celular,
.custom-input-indicativo {
  font-size: 15px;
}

.custom-input-celular {
  width: 80%;
  padding-left: 20px;
}

.custom-input-indicativo {
  width: 24%;
}

/* Estilos para .ng-select */
.ng-select,
.ng-select div,
::ng-deep.ng-select input,
.ng-select span,
::ng-deep.ng-select .ng-select-container .ng-value-label,
::ng-deep.ng-select .ng-arrow-wrapper {
  font-size: 17px;
  font-weight: 400;
}

::ng-deep.ng-select .ng-select-container .ng-placeholder {
  padding-left: 17px;
}

::ng-deep.ng-select .ng-select-container .ng-value-label {
  font-size: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}

::ng-deep.ng-select .ng-arrow-wrapper {
  padding-right: 13px;
}
