<div class="container-agenda">
  <h1>
    <h1>Agenda / {{ nombrePestana }}</h1>
  </h1>
  <div class="card">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="AdministrarActivo"
              (click)="activarPestana('administrar')"
            >
              <a>Administrar turnos</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container-pestanas">
        <div *ngIf="AdministrarActivo" class="container-pestana">
          <form [formGroup]="formularioAgenda" class="form-content">
            <div class="form-group">
              <ng-select
                formControlName="establecimiento"
                placeholder="Establecimiento*"
                class="lista"
              >
                <ng-option value="1">Maracana</ng-option>
                <ng-option value="2">Tiro de esquina</ng-option>
                <ng-option value="3">Futbol 7</ng-option>
              </ng-select>
              <small class="text-error" *ngIf="validarEstablecimiento()">
                {{ establecimientoError }}
              </small>
            </div>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Fecha de reserva</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fecha_reserva"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <!-- <small class="text-error" *ngIf="validarFechaReserva()">
                {{ fechaReservaError }}
              </small> -->
            </div>

            <div class="boton">
              <button
                mat-raised-button
                class="btn"
                type="submit"
                (click)="onSubmit()"
              >
                Buscar
              </button>
              <button class="btn" mat-button (click)="openDialog()">
                Registrar turno
              </button>
            </div>
          </form>

          <div class="contaner-tabla">
            <h1>Listado de turnos</h1>
            <app-data-table
              [tableData]="tablaAgenda"
              [columnHeader]="encabezadosAgenda"
              [confirm]="confirm"
              [finish]="finish"
              [edit]="edit"
            >
            </app-data-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
