<div class="container-imagenes">
  <div class="images">
    <img
      src="./assets/img/publicidad/Cancha1.jpg"
      alt=""
      class="image img-1"
      [ngClass]="{ show: activeIndex === 1 }"
    />
    <img
      src="./assets/img/publicidad/Cancha2.jpg"
      alt=""
      class="image img-2"
      [ngClass]="{ show: activeIndex === 2 }"
    />
    <img
      src="./assets/img/publicidad/Cancha3.jpg"
      alt=""
      class="image img-3"
      [ngClass]="{ show: activeIndex === 3 }"
    />
  </div>
  <div class="deslizamiento">
    <div class="flechas">
      <span
        *ngFor="let index of [1, 2, 3]"
        [ngClass]="{ active: activeIndex === index }"
        (click)="moverImagen(index)"
      ></span>
    </div>
  </div>
</div>
