.text-error {
  font-size: 15px;
  color: var(--color-error);
  padding: 0 2px;
  margin: 0px;
  display: flex;
}

.text-error h6 {
  font-size: 12px;
  color: var(--color-error);
}

.text-error li {
  font-size: 11px;
}
