.container-sidemenu {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
}

span {
  padding-left: 25px;
  padding-right: 22px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo a {
  text-decoration: none;
  font-weight: 600;
  color: #6e3296;
  font-size: 1.2em;
}

.logout {
  color: red;
}

.pass {
  color: #000000;
}

.icono-menu {
  color: #6e3296;
}

a {
  font-family: "Montserrat";
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
}

.user span {
  font-family: "Montserrat";
  font-size: 1.2rem;
  margin: 10px;
}

.menu ul {
  display: flex;
  list-style: none;
  flex-direction: column;
}

.menu ul li {
  padding-top: 25px;
}

ul a {
  display: flex;
  padding-left: 20px;
}

ul a p {
  padding-left: 10px;
}

.logo-img {
  margin: 10px;
}

.logo-img img {
  width: 50px;
}

.sidebar-wrapper {
  flex-grow: 1;
}

.cerrar {
  margin-top: auto;
  padding-bottom: 20px;
}

.cerrar ul {
  list-style-type: none;
  padding-left: 0;
}

.cerrar a {
  font-size: 1rem;
  font-family: "Montserrat";
  display: flex;
}

.cerrar i {
  align-items: center;
  color: red;
  margin-right: 10px;
}
