<button
  class="hamburguer-menu"
  [ngClass]="{ 'hamburguer-menu-right': menuMobile }"
  (click)="toggleMenuMobile()"
>
  <mat-icon>{{ menuMobile ? "close" : "menu" }}</mat-icon>
</button>

<div
  class="container-sidemenu"
  [ngClass]="{ expandido: menuExpandido, 'mobile-menu': menuMobile }"
>
  <div class="logo">
    <div
      class="logo-img"
      (click)="!menuMobile ? (menuExpandido = !menuExpandido) : null"
    >
      <img src="./assets/img/logo_normal.png" alt="Logo" />
      <p *ngIf="!menuExpandido">OLPI</p>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <div class="user" (click)="toggleSubmodulosUsuario()">
      <div class="nombre">
        <span *ngIf="!menuExpandido">
          {{ usuario.name | titlecase }} {{ usuario.lastName | titlecase }}
        </span>
        <span *ngIf="menuExpandido">
          {{ usuario.name | titlecase | slice : 0 : 1
          }}{{ usuario.lastName | titlecase | slice : 0 : 1 }}
        </span>
        <mat-icon>{{
          mostrarSubmodulosUsuario ? "expand_less" : "expand_more"
        }}</mat-icon>
      </div>

      <div class="submenu" *ngIf="mostrarSubmodulosUsuario">
        <ul>
          <li>
            <a
              [routerLink]="['/home/update-data']"
              routerLinkActive="router-link-active"
              [matTooltip]="'Usuario'"
              [matTooltipPosition]="'right'"
              [matTooltipDisabled]="!menuExpandido"
            >
              <i class="material-icons icono-submenu">manage_accounts</i>
              <p *ngIf="!menuExpandido">Usuario</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="menu">
      <ul>
        <li>
          <a
            [routerLink]="['/home/dashboard']"
            routerLinkActive="router-link-active"
            [matTooltip]="'Dashboard'"
            [matTooltipPosition]="'right'"
            [matTooltipDisabled]="!menuExpandido"
            class="menu-item"
            (click)="closeMenuMobile()"
          >
            <i class="material-icons icono-menu">dashboard</i>
            <p *ngIf="!menuExpandido">Dashboard</p>
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/home/soccer-field']"
            routerLinkActive="router-link-active"
            [matTooltip]="'Establecimiento'"
            [matTooltipPosition]="'right'"
            [matTooltipDisabled]="!menuExpandido"
            (click)="closeMenuMobile()"
          >
            <i class="material-icons icono-menu">sports_soccer</i>
            <p *ngIf="!menuExpandido">Establecimiento</p>
          </a>
        </li>
        <li>
          <a
            [routerLink]="['/home/agenda']"
            routerLinkActive="router-link-active"
            [matTooltip]="'Agenda'"
            [matTooltipPosition]="'right'"
            [matTooltipDisabled]="!menuExpandido"
            (click)="closeMenuMobile()"
          >
            <i class="material-icons icono-menu">event</i>
            <p *ngIf="!menuExpandido">Agenda</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
