.formulario-registro {
  position: absolute;
  top: 0;
  left: 6%;
  display: grid;
  transition: 0.8s ease-in-out;
  z-index: 1;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-on-primary-container);
  text-align: center;
}

.custom-input {
  width: 95%;
  font-size: 15px;
}

.custom-icon {
  color: var(--color-secondary);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 110px;
  margin: 0.1rem;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton .btn {
  background-color: var(--color-primary-container);
  font-size: 16px;
  color: var(--color-on-primary-container);
  height: 45px;
  width: 50%;
  border-radius: 10px;
}

a {
  color: var(--color-primary-container);
  font-weight: bold;
  cursor: pointer;
}

.container-main.modo-registro .contacto {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.02s 0.4s;
}

/* .container-main.modo-registro .formulario {
  left: 55%;
} */

.container-celular {
  width: 100%;
  display: flex;
}

.custom-input-celular {
  width: 80%;
  font-size: 15px;
  padding-left: 20px;
}

.custom-input-indicativo {
  width: 24%;
  font-size: 15px;
}

.ng-select,
.ng-select div,
::ng-deep.ng-select input,
.ng-select span {
  margin-top: 5px !important;
  font-weight: 400 !important;
  font-size: 17px !important;
}

@media (max-width: 952px) {
  .custom-input {
    width: 100%;
    font-size: 15px;
  }

  .formulario-registro {
    left: 0%;
    display: flex;
  }

  .custom-input-celular {
    width: 70%;
  }

  .custom-input-indicativo {
    width: 30%;
  }

  form {
    padding-top: 14px;
    max-width: 80%;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .logo img {
    width: 85px;
  }

  h1 {
    padding-top: 10px;
    font: bold 15px "Montserrat";
  }

  p {
    font-size: 12px;
  }

  .boton .btn {
    width: 70%;
  }
}
