.formulario-registro {
  position: absolute;
  top: 0;
  left: 5%;
  display: grid;
  transition: 0.8s ease-in-out;
  z-index: 1;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-on-primary-container);
  text-align: center;
}

.custom-input {
  width: 100%;
  font-size: 15px;
}

.custom-icon {
  color: var(--color-secondary);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 110px;
  margin: 0.1rem;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton .btn {
  background-color: var(--color-primary-container);
  font-size: 16px;
  color: var(--color-on-primary-container);
  height: 45px;
  width: 50%;
  border-radius: 10px;
}

a {
  color: var(--color-primary-container);
  font-weight: bold;
  cursor: pointer;
}

.container-main.modo-registro .contacto {
  opacity: 1;
  pointer-events: all;
}

.container-main.modo-registro .formulario {
  left: 55%;
}

.container-celular {
  width: 100%;
  display: flex;
}

.custom-input-celular {
  width: 80%;
  font-size: 15px;
  padding-left: 20px;
}

.custom-input-indicativo {
  width: 24%;
  font-size: 15px;
}

.ng-select,
.ng-select div,
::ng-deep.ng-select input,
.ng-select span {
  margin-top: 5px !important;
  font-weight: 400 !important;
  font-size: 17px !important;
}

@media (max-width: 952px) {
  .formulario-registro {
    position: absolute;
    top: 2.8%;
    left: 0;
    display: grid;
    transition: 0.8s ease-in-out;
    z-index: 1;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem;
  }
}
