<div class="container-solicitudes">
  <h1>
    <p>Solicitudes de reservaciones</p>
  </h1>
  <div class="card-solicitudes">
    <app-card>
      <div class="container-pestanas">
        <div class="container-pestana">
          <div class="container-tabla">
            <div class="table-wrapper">
              <app-data-table
                [tableData]="tablaSolicitud"
                [columnHeader]="encabezadosSolicitud"
              >
              </app-data-table>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
