.container-establecimiento {
  padding: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font: bold 20px "Montserrat";
  color: var(--color-secondary);
}

.card-soccer {
  padding-bottom: 30px;
  background: var(--color-surface-container--lowest);
  box-shadow: 0 3px 15px var(--color-outline-variant);
  border-radius: 10px;
}

.container-card {
  padding: 10px;
}

.container-modulos,
ul,
.lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

li {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 30px;
  font-family: "Montserrat";
  font-size: 18px;
  color: var(--color-outline-variant);
  border-bottom: 2px solid var(--color-surface-dim);
}

li:hover,
.active-tab {
  border-bottom-color: var(--color-secondary);
  color: var(--color-secondary);
}

.container-pestana {
  text-align: center;
  color: var(--color-secondary);
  transition: opacity 0.3s ease-in-out;
}

.container-pestana.ng-leave-active {
  opacity: 0;
}

p {
  font-size: 20px;
}

span {
  font-weight: bold;
  font-size: 24px;
}

.form-content {
  padding: 0 76px;
}

.form-group {
  display: flex;
  gap: 20px;
}

mat-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 2rem;
}

.boton .btn {
  background-color: var(--color-primary-container);
  font: 16px var(--color-on-primary-container);
  height: 45px;
  width: 50%;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-tabla {
  padding: 20px;
}

/* Estilos para .ng-select */
.ng-select,
.ng-select div,
::ng-deep.ng-select input,
.ng-select span,
::ng-deep.ng-select .ng-select-container .ng-value-label,
::ng-deep.ng-select .ng-arrow-wrapper {
  font-size: 17px;
  font-weight: 400;
}

::ng-deep.ng-select .ng-select-container .ng-placeholder {
  padding-left: 17px;
}

::ng-deep.ng-select .ng-select-container .ng-value-label {
  font-size: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}

::ng-deep.ng-select .ng-arrow-wrapper {
  padding-right: 13px;
}

/* Reglas de medios */
@media (max-width: 1124px) {
  .container-establecimiento {
    padding: 10px;
  }

  .container-card {
    padding: 0;
  }

  .form-content {
    padding: 0px 30px;
  }

  .form-group {
    display: contents;
  }

  li {
    padding: 10px 6px;
    font-size: 12px;
    font-weight: bold;
  }

  h1 {
    padding-top: 10px;
    font: bold 15px "Montserrat";
  }

  .container-tabla {
    width: 98vw;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  h2 {
    display: flex;
  }
}

@media (max-width: 698px) {
  .container-tabla {
    width: 95vw;
  }
}
