<div class="container-establecimiento">
  <h1>
    <h1>Establecimiento / {{ nombrePestana }}</h1>
  </h1>
  <div class="card-soccer">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="registrarEstablecimientoActivo"
              (click)="activarPestana('registrarEstablecimiento')"
            >
              <a>Registrar establecimiento</a>
            </li>
            <li
              *ngIf="tieneEstablecimiento"
              [class.active-tab]="registrarCanchaActivo"
              (click)="activarPestana('registrarCancha')"
            >
              <a>Registrar canchas</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="registrarEstablecimientoActivo" class="container-pestana">
        <app-establishment></app-establishment>
      </div>

      <div *ngIf="registrarCanchaActivo" class="container-pestana">
        <form [formGroup]="formularioCancha" class="form-content">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Descripción cancha</mat-label>
                <input matInput formControlName="descripcion_cancha" />
              </mat-form-field>
              <small class="text-error" *ngIf="validarDescripcionCancha()">
                {{ descripcionCanchaError }}
              </small>
            </div>
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Cant. jugadores</mat-label>
                <input matInput formControlName="cantidad_jugadores" />
              </mat-form-field>
              <small class="text-error" *ngIf="validarCantidadJugadores()">
                {{ cantidadJugadoresError }}
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-checkbox
                class="checkbox"
                color="primary"
                formControlName="disponible"
                >Disponible</mat-checkbox
              >
            </div>
            <div class="col-md-6">
              <mat-checkbox
                class="checkbox"
                color="primary"
                formControlName="techado"
                >Techado</mat-checkbox
              >
            </div>
          </div>

          <div class="boton">
            <button
              mat-raised-button
              (click)="registrarCancha()"
              class="btn"
              type="button"
            >
              Guardar
            </button>
          </div>
        </form>

        <div class="container-tabla">
          <div class="table-wrapper">
            <app-data-table
              [titulo]="canchasTitulo"
              [tableData]="tablaCanchas"
              [columnHeader]="encabezadosCanchas"
            >
            </app-data-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
