<div class="container-titulo">
  <h1>Agendar reserva</h1>
  <span
    ngClass="m-3 d-flex justify-content-end cerrar"
    (click)="cerrar()"
    (keyup.enter)="cerrar()"
    tabindex="0"
    role="button"
    aria-label="Cerrar"
  >
    <i class="material-icons">close</i>
  </span>
</div>

<mat-dialog-content class="form-content">
  <form [formGroup]="formularioReserva">
    <div class="row">
      <div class="col-md-12">
        <ng-select
          formControlName="establishment"
          [items]="establishmentDto"
          bindLabel="name"
          bindValue="name"
          placeholder="Establecimiento* "
          [ngClass]="{ 'ng-select-error': validarEstablecimiento() }"
        ></ng-select>
        <small class="text-error" *ngIf="validarEstablecimiento()">
          {{ establishmentError }}
        </small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="input-field w-100">
          <mat-label>Fecha*</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFecha"
            formControlName="fecha"
            readonly
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFecha"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerFecha></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <ng-select
          formControlName="hora_inicio"
          [items]="horasDisponibles"
          bindValue="hora"
          placeholder="Hora inicio* "
        ></ng-select>
      </div>

      <div class="col-md-6">
        <ng-select
          formControlName="hora_fin"
          [items]="horasDisponibles"
          bindValue="hora"
          placeholder="Hora fin* "
        ></ng-select>
      </div>
    </div>
  </form>

  <div class="resultado-info mt-4" *ngIf="informacionReserva">
    <mat-card>
      <mat-card-title>Información de la reserva</mat-card-title>
      <mat-card-content>
        <p>
          <strong>Nombre del establecimiento:</strong>
          {{ informacionReserva.nombreEstablecimiento }}
        </p>
        <p><strong>Dirección:</strong> {{ informacionReserva.direccion }}</p>
        <p>
          <strong>Tipo de cancha:</strong> {{ informacionReserva.tipoCancha }}
        </p>
        <p>
          <strong>Horario disponible:</strong>
          {{ informacionReserva.horarioDisponible }}
        </p>
        <p>
          <strong>Precio por hora:</strong>
          {{ informacionReserva.precioPorHora }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="boton">
    <button
      mat-flat-button
      class="btn"
      type="button"
      (click)="buscarDisponibilidad()"
    >
      Buscar
    </button>
  </div>
</mat-dialog-actions>
