<div class="container-titulo">
  <h2 mat-dialog-title>Detalles de la Reserva</h2>
</div>
<mat-dialog-content>
  <p><strong>Cancha:</strong> {{ data.cancha }}</p>
  <p><strong>Tipo:</strong> {{ data.tipo }}</p>
  <p><strong>Cliente:</strong> {{ data.cliente }}</p>
  <p><strong>Estado:</strong> {{ data.estado }}</p>
  <p><strong>Hora:</strong> {{ data.hora }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="boton">
    <button mat-button (click)="close()" class="btn">Cerrar</button>
    <button
      mat-button
      class="btn"
      *ngIf="data.estado == 'Pendiente' || data.estado == 'Separada'"
    >
      Confirmar
    </button>
  </div>
</mat-dialog-actions>
