<div class="container-horarios">
  <h1>Configuración / {{ nombrePestana }}</h1>
  <div class="card-soccer">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="configuracionHorarioActivo"
              (click)="activarPestana('configuracionHorarios')"
            >
              <a>Configuración de horarios</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="configuracionHorarioActivo" class="container-pestana">
        <form
          [formGroup]="formularioHorarioEstablecimiento"
          class="form-content"
        >
          <!-- Establecimiento -->
          <div class="row">
            <div class="col-md-12">
              <ng-select
                class="lista"
                formControlName="establishment"
                [items]="establishmentDto"
                bindLabel="name"
                bindValue="id"
                placeholder="Establecimiento* "
              ></ng-select>
            </div>
          </div>

          <!-- Canchas asociadas -->
          <div class="row">
            <div *ngIf="listaCanchas.length > 0" class="col-md-6 canchas">
              <div class="titulo">
                <span class="label-canchas">Canchas </span>
              </div>

              <div class="checkbox-canchas">
                <ng-container formArrayName="cancha">
                  <mat-checkbox
                    *ngFor="let cancha of listaCanchas; let i = index"
                    [formControlName]="i"
                    color="primary"
                  >
                    {{ cancha.name }}
                  </mat-checkbox>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-radio-group
                formControlName="tipo_bloqueo"
                class="tipo-bloqueo"
                color="primary"
              >
                <mat-label class="titulo">Tipo bloqueo </mat-label>
                <mat-radio-button value="PERMANENTE"
                  >Permanente</mat-radio-button
                >
                <mat-radio-button value="TEMPORAL">Temporal</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <!-- Fechas -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Fecha inicio</mat-label>
                <input
                  matInput
                  [matDatepicker]="inicioPicker"
                  formControlName="fecha_inicio"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="inicioPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #inicioPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Fecha fin</mat-label>
                <input
                  matInput
                  [matDatepicker]="finPicker"
                  formControlName="fecha_fin"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="finPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #finPicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <ng-select
                formControlName="hora_inicio"
                [items]="horas"
                bindLabel="label"
                bindValue="value"
                placeholder="Hora inicio"
              ></ng-select>
            </div>
            <div class="col-md-6">
              <ng-select
                formControlName="hora_fin"
                [items]="horas"
                bindLabel="label"
                bindValue="value"
                placeholder="Hora fin"
              ></ng-select>
            </div>
          </div>

          <!-- Días de la semana -->
          <div class="row">
            <div class="col-md-6 check">
              <div class="titulo"><span>Días</span></div>
              <div class="checkbox-dias">
                <mat-checkbox
                  [checked]="todosLosDiasSeleccionados()"
                  [indeterminate]="algunosDiasSeleccionados()"
                  (change)="alternarSeleccionDias($event.checked)"
                  color="primary"
                >
                  Todos los días
                </mat-checkbox>
                <mat-checkbox
                  formControlName="dia"
                  *ngFor="let dia of diasSemana"
                  [checked]="diasSeleccionados.includes(dia.id)"
                  (change)="diaCambio(dia.id, $event)"
                  color="primary"
                  class="check-individual"
                >
                  {{ dia.nombre }}
                </mat-checkbox>
              </div>
            </div>
          </div>

          <!-- Botón Guardar -->
          <div class="boton">
            <button
              mat-raised-button
              class="btn"
              type="button"
              (click)="guardarHorario()"
            >
              Guardar
            </button>
          </div>
        </form>

        <div class="container-tabla">
          <div class="table-wrapper">
            <app-data-table
              [titulo]="horariosTitulo"
              [tableData]="tablaEstablecimientos"
              [columnHeader]="encabezadosEstablecimientos"
              [delete]="eliminar"
              [edit]="edit"
            >
            </app-data-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
