.container-horarios {
  padding: 0 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font: 20px "Montserrat";
  color: var(--color-on-tertiary-container);
}

.card-soccer {
  padding-bottom: 30px;
  background: var(--color-surface-container--lowest);
  box-shadow: 0 3px 15px var(--color-outline-variant);
  border-radius: 15px;
}

.container-card {
  padding: 5px;
}

.container-modulos,
ul,
.lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.hora {
  width: 100%;
}

label {
  padding-left: 15px;
  display: flex;
}

li {
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px 6px 0 0;
  margin-right: 5px;
  transition: all 0.3s ease;
}

li.active-tab {
  border-bottom: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  font-weight: bold;
}

li:hover {
  background-color: var(--color-surface-container);
}

.container-pestana {
  text-align: center;
  color: var(--color-secondary);
  transition: opacity 0.3s ease-in-out;
}

.container-pestana.ng-leave-active {
  opacity: 0;
}

.form-content {
  padding: 0 50px;
}

.form-group {
  display: flex;
  gap: 20px;
}

mat-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 2rem;
}

.boton .btn {
  background-color: var(--color-primary);
  color: var(--color-on-primary-container);
  height: 45px;
  width: 45%;
  border-radius: 15px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.boton .btn:hover {
  background-color: var(--color-inverse-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Estilos para .ng-select */
.ng-select,
.ng-select div,
::ng-deep.ng-select input,
.ng-select span,
::ng-deep.ng-select .ng-select-container .ng-value-label,
::ng-deep.ng-select .ng-arrow-wrapper {
  font-size: 17px;
  font-weight: 400;
}

::ng-deep.ng-select .ng-select-container .ng-placeholder {
  padding-left: 17px;
}

::ng-deep.ng-select .ng-select-container .ng-value-label {
  font-size: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}

::ng-deep.ng-select .ng-arrow-wrapper {
  padding-right: 13px;
}

/* Checks */
.checkbox-canchas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkbox-dias {
  display: flex;
  gap: 5px;
}

.titulo {
  border-radius: 10px;
  font-weight: bold;
  align-items: center;
  font-size: 16px;
  display: flex;
  padding: 10px;
}

h2 {
  font-weight: bold;
  color: var(--color-on-secondary-container);
}

.container-tabla {
  padding: 20px;
}

/* Reglas de medios */
@media (max-width: 1124px) {
  .container-card {
    padding: 0;
  }

  .form-content {
    padding: 0 15px;
  }

  .form-group {
    flex-direction: column;
    gap: 10px;
  }

  li {
    padding: 10px 6px;
    font-size: 12px;
    font-weight: bold;
  }

  h1 {
    padding-top: 10px;
    font: bold 15px "Montserrat";
  }

  .boton .btn {
    width: 60%;
    height: 40px;
  }

  .container-tabla {
    width: 98vw;
    overflow-x: auto;
    padding: 10px;
    box-sizing: border-box;
  }

  .table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  h2 {
    display: flex;
  }
}

@media (max-width: 698px) {
  .container-tabla {
    width: 95vw;
  }
}
