/* Contenedor principal */
.container-main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--color-surface-container);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor de la caja y login */
.container-box {
  position: relative;
  width: 100%;
  max-width: 1060px;
  height: 660px;
  background-color: var(--color-surface-container--lowest);
  border-radius: 3.3rem;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.container-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
}

/* Formulario y estructura interna */
.formulario {
  position: absolute;
  width: 50%;
  top: 6%;
  left: 0;
  transition: left 0.9s ease-in-out;
  z-index: 1;
}

form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Estilos del título */
h1 {
  color: var(--color-on-primary-container);
}

/* Estilos de los elementos de formulario */
.custom-input {
  width: 95%;
  font-size: 15px;
}

.custom-icon {
  color: var(--color-secondary);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  width: 110px;
  margin: 0.1rem;
}

/* Botón */
.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 2rem;
}

.boton .btn {
  background-color: var(--color-primary);
  font-size: 16px;
  color: var(--color-on-primary-container);
  height: 45px;
  width: 50%;
  border-radius: 10px;
}

/* Enlace */
a {
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
}

.forgot-password {
  font-size: 15px;
  color: var(--color-on-primary-container);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Seleccionar establecimiento */
.seleccion-establecimiento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 45%;
}

.formulario-establecimiento {
  display: contents;
}

.btn-regresar {
  color: var(--color-on-primary-container);
  background-color: var(--color-primary-container);
}

.regresar {
  display: flex;
  gap: 20px;
}

.titulo {
  padding-left: 10px;
}

/* Carrusel */
.carousel {
  position: absolute;
  height: 90%;
  width: 50%;
  left: 48%;
  top: 5%;
  background-color: var(--color-secondary);
  border-radius: 2rem;
  z-index: 2;
  transition: left 0.8s ease-in-out;
}

/* Contactenos y transiciones */
.contactenos,
.container-main.modo-registro .inicio-sesion {
  opacity: 0;
  transition: opacity 0.02s 0.4s;
  pointer-events: none;
}

.container-main.modo-registro .contactenos,
.container-main:not(.modo-registro) .inicio-sesion {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.02s 0.4s;
}

.container-main.modo-registro .formulario {
  left: 54%;
}

.container-main.modo-registro .carousel {
  left: 0;
}

/* Formulario de entrada */
.input-form {
  margin-top: 10px;
}

app-registre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Reglas de medios */
@media (max-width: 1124px) {
  .container-box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .container-login,
  .formulario,
  .carousel {
    position: static;
    width: 100%;
    height: auto;
  }

  .container-login {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .carousel {
    display: none;
  }

  .boton .btn {
    width: 70%;
  }

  .logo img {
    width: 85px;
  }

  h1 {
    padding-top: 10px;
  }

  p {
    font-size: 12px;
  }

  .forgot-password {
    font-size: 11px;
  }

  .input-form {
    margin: 0;
  }

  .boton {
    margin: 0;
    padding-bottom: 10px;
  }

  form {
    max-width: 100%;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .container-main.modo-registro .formulario {
    left: 0;
  }
}
