<div class="dashboard-container">
  <div class="card">
    <app-card>
      <div class="summary-cards">
        <mat-card class="summary-card reservados">
          <p>Turnos reservados</p>
          <mat-card-content>{{ totalTurnos }}</mat-card-content>
        </mat-card>
        <mat-card class="summary-card pendientes">
          <p>Turnos pendientes</p>
          <mat-card-content>{{ turnosPendientes }}</mat-card-content>
        </mat-card>
        <mat-card class="summary-card confirmados">
          <p>Turnos confirmados</p>
          <mat-card-content>{{ turnosConfirmados }}</mat-card-content>
        </mat-card>
      </div>
      <div class="container-card">
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar
            [(selected)]="selected"
            (selectedChange)="openDialog()"
          ></mat-calendar>
        </mat-card>
        <p>Fecha seleccionada: {{ selected | date : "dd/MM/yyyy" }}</p>
      </div>
    </app-card>
  </div>
</div>
