<div class="container-agenda">
  <h1>
    <h1>Reservación / {{ nombrePestana }}</h1>
  </h1>
  <div class="card-agenda">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="AdministrarActivo"
              (click)="activarPestana('administrar')"
            >
              <a>Administrar reservaciones</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="AdministrarActivo" class="container-pestana">
        <form [formGroup]="formularioReservacion" class="form-content">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Fecha de reserva</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fecha_reserva"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <small class="text-error" *ngIf="validarFechaReserva()">
                {{ fechaReservaError }}
              </small>
            </div>

            <div class="col-md-6">
              <ng-select
                class="lista"
                formControlName="cancha"
                [items]="listaCanchas"
                bindLabel="name"
                bindValue="id"
                placeholder="Cancha* "
              ></ng-select>
              <small class="text-error" *ngIf="validarCancha()">
                {{ canchaError }}
              </small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Celular jugador</mat-label>
                <input matInput formControlName="celular_jugador" />
              </mat-form-field>
              <small class="text-error" *ngIf="validarCelular()">
                {{ celularError }}
              </small>
            </div>

            <div class="col-md-6">
              <div class="disponibilidad">
                <mat-label class="titulo">Hora de reserva</mat-label>
                <button
                  mat-icon-button
                  class="btn-adicionar"
                  (click)="openDialog()"
                >
                  <mat-icon>schedule</mat-icon>
                  Buscar disponibilidad
                </button>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Hora inicio</mat-label>
                <input
                  matInput
                  type="time"
                  formControlName="hora_inicio"
                  readonly
                />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="input-field">
                <mat-label>Hora fin</mat-label>
                <input
                  matInput
                  type="time"
                  formControlName="hora_fin"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>

          <div class="boton">
            <button
              mat-raised-button
              class="btn"
              (click)="RegistrarTurno()"
              type="button"
            >
              Registrar turno
            </button>
          </div>
        </form>

        <div class="container-tabla">
          <div class="table-wrapper">
            <app-data-table
              [titulo]="tituloReservacion"
              [tableData]="tablaReservacion"
              [columnHeader]="encabezadosReservacion"
            >
            </app-data-table>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
