<div class="container-agenda">
  <h1>
    <h1>Reservación / {{ nombrePestana }}</h1>
  </h1>
  <div class="card-agenda">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="AdministrarActivo"
              (click)="activarPestana('administrar')"
            >
              <a>Administrar reservaciones</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container-pestanas">
        <div *ngIf="AdministrarActivo" class="container-pestana">
          <form [formGroup]="formularioReservacion" class="form-content">
            <div class="form-group">
              <ng-select
                formControlName="cancha"
                placeholder="Cancha*"
                class="lista"
              >
                <ng-option value="1">Cancha 1</ng-option>
                <ng-option value="2">Cancha 2</ng-option>
                <ng-option value="3">Cancha 3</ng-option>
              </ng-select>
              <small class="text-error" *ngIf="validarEstablecimiento()">
                {{ establecimientoError }}
              </small>

              <div class="container-cliente">
                <ng-select
                  formControlName="cliente"
                  placeholder="Cliente*"
                  class="lista_cliente"
                >
                  <ng-option value="1">Andrea Isaza</ng-option>
                  <ng-option value="2">Guillian Diosa</ng-option>
                  <ng-option value="3">Golpi Canchas</ng-option>
                </ng-select>
                <small class="text-error" *ngIf="validarEstablecimiento()">
                  {{ establecimientoError }}
                </small>
                <button
                  mat-icon-button
                  class="btn-adicionar"
                  (click)="openDialog()"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>

            <div class="form-group">
              <ng-select
                formControlName="tipo_cancha"
                placeholder="Tipo cancha*"
                class="lista"
              >
                <ng-option value="1">Cancha profesionales</ng-option>
                <ng-option value="2">Cancha de fútbol sala</ng-option>
                <ng-option value="3">Cancha de fútbol 7</ng-option>
                <ng-option value="3">Cancha de fútbol 5</ng-option>
                <ng-option value="3">Cancha de fútbol de playa</ng-option>
              </ng-select>
              <small class="text-error" *ngIf="validarEstablecimiento()">
                {{ establecimientoError }}
              </small>
              <mat-form-field>
                <mat-label>Fecha de reserva</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  formControlName="fecha_reserva"
                />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <small class="text-error" *ngIf="validarFechaReserva()">
                {{ fechaReservaError }}
              </small>
            </div>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Hora inicial</mat-label>
                <input matInput type="time" formControlName="hora_inicial" />
              </mat-form-field>
              <small class="text-error" *ngIf="validarHoraInicial()">
                {{ horaInicialError }}
              </small>

              <mat-form-field>
                <mat-label>Hora final</mat-label>
                <input matInput type="time" formControlName="hora_final" />
              </mat-form-field>
            </div>

            <div class="boton">
              <button
                mat-raised-button
                class="btn"
                (click)="RegistrarTurno()"
                type="button"
              >
                Registrar turno
              </button>
            </div>
          </form>

          <div class="container-tabla">
            <div class="table-wrapper">
              <app-data-table
                [titulo]="tituloReservacion"
                [tableData]="tablaReservacion"
                [columnHeader]="encabezadosReservacion"
                [confirm]="confirm"
                [finish]="finish"
                [edit]="edit"
              >
              </app-data-table>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
