<div class="container-agenda">
  <h1>
    <p>Reservación / {{ nombrePestana }}</p>
  </h1>
  <div class="card-agenda">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="AdministrarActivo"
              (click)="activarPestana('administrar')"
            >
              <a>Administrar reservaciones</a>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="AdministrarActivo" class="container-pestana">
        <div class="summary-cards">
          <div class="summary-item">
            <div class="color-box disponible"></div>
            <span>Disponible</span>
          </div>
          <div class="summary-item">
            <div class="color-box reservado"></div>
            <span>Reservado</span>
          </div>
          <div class="summary-item">
            <div class="color-box confirmado"></div>
            <span>Confirmado</span>
          </div>
          <div class="summary-item">
            <div class="color-box bloqueado"></div>
            <span>Bloqueado</span>
          </div>
          <div class="summary-item">
            <div class="color-box pagado"></div>
            <span>Pagado</span>
          </div>
          <div class="summary-item">
            <div class="color-box inasistido"></div>
            <span>Inasistido</span>
          </div>
          <div class="summary-item">
            <div class="color-box no_pagado"></div>
            <span>No pagado</span>
          </div>
          <div class="summary-item">
            <div class="color-box cancelado"></div>
            <span>Cancelado</span>
          </div>
        </div>

        <div class="calendar-section">
          <div class="container-card">
            <full-calendar
              class="fullcalendar"
              [options]="calendarOptions"
            ></full-calendar>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>
