<nav>
  <!-- Menú usuario -->
  <div class="usuario-menu" [matMenuTriggerFor]="menuUsuario">
    <span>
      Hi, {{ usuario.name | titlecase }} {{ usuario.last_name | titlecase }}
    </span>
    <mat-icon>expand_more</mat-icon>
  </div>

  <mat-menu #menuUsuario="matMenu" class="menu-usuario">
    <button mat-menu-item [routerLink]="['/home/update-data']">
      <mat-icon class="icono-submenu">person</mat-icon>
      <span class="submenu">Actualizar datos</span>
    </button>
    <button mat-menu-item [routerLink]="['/home/change-password']">
      <mat-icon class="icono-submenu">lock</mat-icon>
      <span class="submenu">Cambiar contraseña</span>
    </button>

    <button mat-menu-item (click)="CerrarSesion()">
      <mat-icon class="icono-submenu-cerrar">logout</mat-icon>
      <span class="cerrar">Cerrar sesión</span>
    </button>
  </mat-menu>

  <!-- Notificaciones -->
  <div class="notificaciones">
    <a
      mat-icon-button
      [routerLink]="['/home/notification']"
      routerLinkActive="router-link-active"
    >
      <i class="material-icons iconred icono-menu">notifications</i>
    </a>
  </div>
</nav>
