.cerrar {
  display: flex;
  justify-content: end;
  margin: 15px 15px 0;
}

.cerrar a {
  color: var(--color-shadow);
  display: flex;
  align-items: center;
}

.cerrar:hover a,
.cerrar:hover i {
  font-weight: bold;
}

.cerrar i {
  color: var(--color-error);
}

.cerrar p {
  margin: 10px;
}
