.form-content {
  padding: 0 25px;
}

.form-group {
  display: flex;
  gap: 20px;
}

mat-form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton .btn {
  background-color: #52ff96;
  font-size: 16px;
  color: #000000;
  height: 45px;
  width: 30%;
  border-radius: 10px;
}

.text-error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contaner-tabla {
  padding: 20px;
}

h1 {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  color: #6e3296;
  font-family: "Montserrat";
}
