<div class="formulario">
  <form [formGroup]="formularioRegistro" class="contactenos">
    <div class="logo">
      <img src="./assets/img/logo_normal.png" alt="Logo" />
    </div>
    <h1>En breve te contactaremos. ¡Déjanos tus datos!</h1>
    <p>¿Ya tienes una cuenta? <a href="#" class="toggle">Iniciar sesión</a></p>
    <div class="input-form">
      <mat-form-field class="custom-input" appearance="outline">
        <mat-icon matPrefix class="custom-icon">badge</mat-icon>
        <mat-label>Nombre Completo</mat-label>
        <input
          matInput
          formControlName="nombre"
          type="text"
          autocomplete="off"
        />
      </mat-form-field>
      <small class="text-error" *ngIf="validarNombre()">
        {{ nombreError }}
      </small>

      <mat-form-field class="custom-input" appearance="outline">
        <mat-icon matPrefix class="custom-icon">call</mat-icon>
        <mat-label>Celular</mat-label>
        <input
          matInput
          formControlName="celular"
          type="text"
          autocomplete="off"
        />
      </mat-form-field>
      <small class="text-error" *ngIf="validarCelular()">
        {{ celularError }}
      </small>

      <mat-form-field class="custom-input" appearance="outline">
        <mat-icon matPrefix class="custom-icon">mail</mat-icon>
        <mat-label>Correo</mat-label>
        <input
          matInput
          formControlName="correo"
          type="text"
          autocomplete="off"
        />
      </mat-form-field>
      <small class="text-error" *ngIf="validarCorreo()">
        {{ correoError }}
      </small>

      <div class="boton">
        <button mat-raised-button class="btn" (click)="enviar()" type="button">
          ENVIAR
        </button>
      </div>
    </div>
  </form>
</div>
