<div class="container-change">
  <h1>
    <h1>Usuario / {{ nombrePestana }}</h1>
  </h1>
  <div class="card-update">
    <app-card>
      <div class="container-card">
        <div class="container-modulos">
          <ul>
            <li
              [class.active-tab]="cambiarActivo"
              (click)="activarPestana('cambiar')"
            >
              <a>Cambiar contraseña</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="container-pestanas">
        <!-- Pestaña Cambiar Contraseña -->
        <div *ngIf="cambiarActivo" class="container-pestana">
          <form [formGroup]="formularioPass">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <mat-form-field class="form-field-custom">
                  <mat-label>Contraseña actual</mat-label>
                  <input
                    [class.is-invalid]="validarPasswordCampo()"
                    [class.is-valid]="validarPasswordCampoValido()"
                    matInput
                    formControlName="password"
                    [type]="passVisible ? 'password' : 'text'"
                    autocomplete="off"
                    #password
                    maxlength="30"
                  />
                  <mat-icon matSuffix (click)="passVisibleToogle(1)">{{
                    passVisible ? "visibility" : "visibility_off"
                  }}</mat-icon>
                  <mat-hint align="end"
                    >{{ password.value.length }} / 30</mat-hint
                  >
                </mat-form-field>
                <small class="text-error" *ngIf="validarPassword()">
                  {{ passwordError }}</small
                >
                <mat-form-field class="form-field-custom">
                  <mat-label>Contraseña nueva</mat-label>
                  <input
                    [class.is-invalid]="validarPasswordNewCampo()"
                    [class.is-valid]="validarPasswordNewCampoValido()"
                    matInput
                    formControlName="passwordNew"
                    [type]="passVisibleNew ? 'password' : 'text'"
                    autocomplete="off"
                    #passwordNew
                    maxlength="30"
                  />
                  <mat-icon matSuffix (click)="passVisibleToogle(2)">{{
                    passVisibleNew ? "visibility" : "visibility_off"
                  }}</mat-icon>
                  <mat-hint align="end"
                    >{{ passwordNew.value.length }} / 30</mat-hint
                  >
                </mat-form-field>
                <small class="text-error" *ngIf="validarPasswordNew()">
                  {{ passwordNewError }}
                </small>
                <mat-form-field class="form-field-custom">
                  <mat-label>Confimar contraseña</mat-label>
                  <input
                    [class.is-invalid]="validarPasswordConfirmCampo()"
                    [class.is-valid]="validarPasswordConfirmCampoValido()"
                    matInput
                    formControlName="passwordConfirm"
                    [type]="passVisibleConfirm ? 'password' : 'text'"
                    autocomplete="off"
                    #passwordConfirm
                    maxlength="30"
                  />
                  <mat-icon matSuffix (click)="passVisibleToogle(3)">{{
                    passVisibleConfirm ? "visibility" : "visibility_off"
                  }}</mat-icon>
                  <mat-hint align="end"
                    >{{ passwordConfirm.value.length }} / 30</mat-hint
                  >
                </mat-form-field>
                <small class="text-error" *ngIf="validarPasswordConfirm()">
                  {{ passwordConfirmError }}
                </small>

                <small class="text-error" *ngIf="validarErroresDePolitica()">
                  <strong
                    >La contraseña debe seguir las siguientes políticas:</strong
                  >
                  <ul>
                    <li>Mínimo 6 caracteres.</li>
                    <li>Máximo 30 caracteres.</li>
                    <li>Al menos una letra mayúscula.</li>
                    <li>Al menos una letra minúscula.</li>
                    <li>Al menos un número.</li>
                    <li>Al menos un caracter especial.</li>
                    <li>No debe contener espacios en blanco.</li>
                  </ul>
                </small>
              </div>
            </div>

            <div class="col text-center">
              <div class="boton">
                <button
                  mat-raised-button
                  (click)="actualizarPassword()"
                  class="btn"
                  type="button"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </app-card>
  </div>
</div>
